@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  font-family: 'Gowun Dodum', sans-serif;
}

.main {
  height: 350px;
  background-color: white;

  background-image: url();
  background-position: center;
  background-size: cover;
}

.header {
  background-color: black;
}

.search {
  margin: 12px;
}

.mycards {
  width: 1200px;
  margin: 20px auto 20px auto;
}

.mypostingbox {
  width: 1200px;
  margin: 20px auto 20px auto;

  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.profile-image-container {
  position: relative;
  height: 150px;
  width: 150px; 
  border-radius: 50%;
  overflow: hidden; 
  margin-bottom: 15px;
}

#image-upload,
.whitespace-nowrap,
.text-sm {
  margin-bottom: 15px;
}

.profile-image {
  height: 100%; 
  width: 100%; 
  object-fit: cover; 
}

.upload-button {
  margin-bottom: 12px; 
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #007bff; 
  color: #ffffff; 
  font-size: 14px; 
  cursor: pointer; 
  transition: background-color 0.2s ease;
}
