body {
  background-color: #f7f7f7;
}
/* 배경색 및 패딩 설정 */
.bg-gray-100 {
  background-color: #f7f7f7; 
  padding: 10px;
  margin-top: 60px;
}

/* 헤더 스타일링 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

/* 로고 스타일링 */
header h1 {
  font-size: 3xl;
  font-weight: bold;
  width: 120px;
}

/* 검색 입력 필드 스타일링 */
header input {
  height: 40px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  padding: 0 10px;
  background-color: #fff;
  font-size: 14px;
  color: #374151;
  outline: none;
  transition: border-color 0.3s ease;
}

header input:focus {
  border-color: #2563eb; 
  box-shadow: 0 0 3px rgba(37, 99, 235, 0.4); 
}

/* 메인 콘텐츠 그리드 스타일링 */
main {
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  position: relative;
}

.text-lg {
  text-align: center;
  font-size: 25px;
}

.col-span-2 {
  position: relative;
}

/* 랭킹 섹션 스타일링 */
section h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

section:last-child {
  width: 300px;
  height: 500px;
  border: 1px solid #696969;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

/* 랭킹 아이템 스타일링 */
section .space-y-2 {
  width: 300px;
  height: 120px;
  background-color: #fff3cd; 
  padding: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

section .bg-gold {
  position: absolute;
  top: 100px;
  left: 545px;
  background-color: #ffd700; 
}

section .bg-silver {
  position: absolute;
  top: 330px;
  left: 255px;
  background-color: #c0c0c0; 
}

section .bg-bronze {
  position: absolute;
  top: 330px;
  right: 120px;
  background-color: #cd7f32; 
}

/* 랭킹 아이템 내부 요소 스타일링 */
section .flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

.relative {
  width: 90px;
  height: 90px;
  margin: 0;
}

section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

/* 랭킹 텍스트 스타일링 */
section p {
  font-size: 15px;
  font-weight: 600;
}

section p.text-xs {
  font-size: 15px;
  font-weight: 600;
}

/* 원시 랭킹 목록 스타일링 */
ol {
  list-style-type: decimal;
  padding-left: 20px;
}

ol li {
  margin-bottom: 5px;
  font-size: 14px;
}
